*{
    background-color: #0efff9;
    /* background-image: url(/img/foxtail.png); */
}

/* body{
    background-image: url(/img/foxtail.png);
} */

nav{
    border-color: #088eff;
    width: 200px;
    border-radius: 6px;
    text-align: center;
}

nav p,nav a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

nav a:hover{
    color: #088eff;
    background-color: #b2fff7;
}

h1,main section p{
    background-color: #088eff;
    border-radius: 6px;
    width: 300px;
    text-align: center;
    font-weight: 150px;
    margin-left: 40px;
}

main h1{
    font-size: 55px;
    margin-left: 120px;
}


.paragraph{
    margin-left: 30px;
    font-size: 23px;
    border-radius: 0px;
    width:500px;
    margin-top: 0px;
    margin-bottom: 0px;
}

main section img{
    width: 300px;
    height: 150px;
    border-width: 2px;
    margin-top: 30px;

}

/*formulario*/
#form_title{
    font-size: 50px;
}

form label{
    background-color: #aff9f9;
    border-radius: 3px;
    margin-right: 3px;
    font-weight: bold;
}

form{
    background-color: #c1f8f8;
    padding: 15px;
    width: 500px;
    border-radius: 10px;
    margin-left: 80px;
}

.formcenterer{
    float: right;
    margin-right: 25px;
}

.pointer:hover{
    cursor: pointer;
}

.button{
    box-shadow: black solid 6px;
    color: white;
    margin-left: 120px;
}
.button:hover{
    background-color: white;
    color: #03fae1;
    cursor: pointer;

}

footer{
    margin-top: 20px;
}

/*para todas las pantallas*/


@media only screen and (max-width: 412px) {

    /*main contiene h1*/

    main h1 {
        background-color:#aff9f9;
        border-radius: 6px;
        width: 300px;
        text-align: center;
        font-weight: 150px;
        margin-left: 0px;
        
    }

    .paragraph{
        margin-left: 0px;
        font-size: 23px;
        border-radius: 0px;
        width:500px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    

  }
